<div class="contactUsWrapper">
    <div class="contactUsInformation">
        <section class="contactForm">
            <form action="#">
                    <label>Email</label>
                    <input class="email" type="email" placeholder="Your Email Address">
                    <br>
        
                    <label for="services"><b>Service requested</b></label>
                    <select class="optionValues" name="services" id="services">
                        
                        <option value="webDesign">Web Design
                        <option value="htmlEmail">HTML Email
                        <option value="webDevelopment">Web Development
                    </select>
    
                
                <label for="additionalQuestions"></label>
                <textarea name="" id="additionalQuestions" cols="30" rows="10" placeholder="Additional comments/questions"></textarea>
                <br>
                <input type="submit" value="Submit">
    
            </form>
        </section>
    </div>
</div>