<div class="profileWrapper">
    <div class="profileContainer">
        <div class="profilepic">  
            <img class ="mainPicture" src="../images/selfPicture.jpg" alt="Robert Arencibia Picture" title="Robert Arencibia">

        </div>

        <section class="bio">
            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores assumenda sequi quia magnam quo blanditiis dicta voluptatum itaque libero enim.</p>
        </section>
    </div>




</div>


