<header class="navHeadWrapper">
    <div class="navPersonalInfo">
        <h1 class="mainHeader">Robert Arencibia</h1>
        <h2 class="mainHeader">Professional Web Developer</h2>
    </div>
    <nav class="navbar">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="https://www.linkedin.com/feed/"><li>Linked In</li></a>
            <a href="https://github.com/Rarencibia?tab=repositories"><li>Git Hub</li></a>
            <a href="/contactInfo"><li>Contact Information</li></a>
        </ul>
    </nav>
</header>